{% extends 'base.html.twig' %}

{% block title %}Change password{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto ">
            <h1 class="mx-5 text-center">Change password</h1>

               {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn mt-5 btn-primary col-12 btn-lg btn-block">Change password</button>
                {{ form_end(form) }} 
        </div>
    </div>
{% endblock %}
