{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <h1 class="mx-5">Profiler</h1>
            <img class="mb-4" src="{{ app.user.gravatar(100) }}" alt="Avatar de {{ app.user.fullName }} ">

            <p class="lead">{{ app.user.email }}</p>
            <p class="h2-responsive">{{ app.user.fullName }}</p>

            <p>
                <a href="" class="text-decoration-none">Edit Account</a> | <a href="" class="text-decoration-none">Change password</a>
            </p>
        </div>
    </div>
{% endblock %}
