{% extends 'base.html.twig' %}

{% block title %}Edition pin{% endblock %}

{% block body %}
<h1> Edition du Pin #{{ pin.id }} </h1>

{{ include("pins/pin_form.html.twig",{"submitButtonText":"Modifier un pin"}) }}

{% endblock %}

