<nav class="navbar navbar-expand-sm navbar-light bg-light text-dark mb-4" aria-label="Third navbar example">
		<div class="container-fluid">
        <div class="container">
			<a class="navbar-brand mt-5" href=" {{ path('home') }} " style="margin-top:50px;">Panterest</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsExample03">
				<ul class="navbar-nav ml-auto" style="margin-left:auto;">
					<li class="nav-item">
						<a class="nav-link  " aria-current="page" href=" {{ path('create_pin') }} ">New Pin</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Account</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="#">Logout</a>
					</li>
				</ul>

			</div>
		</div>
	
</nav>
